//Variabler, mixins osv
//Färgkoder i variabler, styling på texter, textstorlekar osv.


$black: #000;
$white: #fff;
$near-white: #fdfdfd;
$near-white-opac08: rgba(253, 253, 253, 0.95);
$light-grey: #f8f9fa;
$bg-color: #1A1A1A;
$white-opac01: rgba($white, 0.1);
$black-opac02: rgba($black, 0.2);
$hacker-green: #0d864c;
$hacker-green-opac02: rgba($hacker-green, 0.3);
$grey: #ccc;


body {
    font-family: 'Roboto', sans-serif;
}

header {
    h1 {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 500;
        font-size: 32px;

        @media(max-width:670px) {
            font-size: 24px;
        }

        @media(max-width:500px) {
            font-size: 18px;
        }

        @media(max-width:400px) {
            font-size: 16px;
        }

        @media(max-width:350px) {
            font-size: 12px;
        }
    }
}

//Förändringar vid sumbit sökning
.body-bg {
    background: $bg-color;
}

.green-color {
    color: $hacker-green;
}

.green-cursor {
    background-color: $hacker-green !important;
}

.info-trigger-white,
.footer-color {
    color: $white;
}



