//Komponenter - knappar, länkar, formulär, modaler osv.

@use 'base';

#search-form {
    display: flex;
    position: relative;
    margin-top: 200px;
    margin-bottom: 100px;
    width: 80%;
    justify-content: center;
}

#search-box {
    padding: 10px;
    font-size: 16px;
    border: 1px solid base.$grey;
    border-radius: 5px;
    outline: none;
    width: 80%;
    max-width: 300px;
    margin-right: 5px;
}

#search-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: base.$hacker-green;
    color: base.$white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

#search-btn:hover {
    background-color: base.$hacker-green;
}

#search-box:focus, #search-btn:focus {
    border-color: base.$hacker-green;
    box-shadow: 0 0 0 2px base.$hacker-green-opac02;
}

//Styles för TMDB-logo
.tmdb-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 60px;
    width: 100%;

    img {
        max-width: 100px;
        position: absolute;
        right: 0;
        bottom: 0;
        transition: 0.3s ease;
    }

    img:hover {
        transform: scale(1.1);
    }

    p:last-of-type {
        position: absolute;
        right: 0;
        bottom: 30px;
        font-size: 14px;
        text-align: right;
    }

    @media(max-width:750px) {
        h3 {
            margin-top: 10px;
        }
        p:first-of-type {
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    }
}

//Styles för NYT-logo
.nyt {
    img {
        max-width: 200px;
        transition: 0.3s ease;
    }

    img:hover {
        transform: scale(1.1);
    }
}